@charset "utf-8";
/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;padding:0;margin:0}
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
a{outline:none;cursor:pointer;color:#000}
a:link,a:visited{}
a:hover,a:active{}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{}
select{font-size:14px;}
legend{color:#000;}
h1{font-size:18px;font-weight:bold;text-align:left;font-family:"Microsoft YaHei", "SimHei";}
h2{font-size:18px;height:30px;line-height:30px;font-family:"Microsoft YaHei", "SimHei";}
body{}
/*reset end*/
#containter{font-size:14px;position:relative;width:100%}
#containter dl {min-height:90px;padding: 10px;position: relative;height:auto;background:url(../images/notice/dot.png) left bottom repeat-x;_height:90px}
#containter dl dt{position:absolute;top:10px;left:10px;}
#containter dl dd{margin-left:75px;}
.controler{position:absolute;right:10px;top:40px;}
.controler a,.controler span{display:block;width:77px;height:22px;line-height:22px;color:#FFF;background:url(../images/notice/sprites.png) no-repeat;font-size:12px;text-align:center;text-decoration:none;margin-bottom:2px;}
.controler span{background:url(../images/notice/sprites.png) 0 -44px no-repeat;color:#CCC;}
.controler a:hover{background:url(../images/notice/sprites.png) 0 -22px no-repeat;}
.list_content{padding-right:80px}
.list_content p{line-height:25px;}
.msg_context{color:#666666;font-size:12px;}
.msg_context strong{color:#06F}
.nomessage{font-size:18px;line-height:370px;font-family:"Microsoft YaHei", "SimHei";text-align:center;color:#009900}












